<!DOCTYPE html>
<html lang="en">
{% extends 'studentindex.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<div class="col-12 mb-4">
                  <h2 class="mt-2 text-center font-weight-light text-uppercase">NOTIFICATION</h2>
                </div>
<div class="col-12 grid-margin" id="introduction">
                  <div class="card">
                      <div class="card-body">
                          <h3 class="mb-4">Christmas Celebration</h3>
                          <p>College is planning to conduct christmas celebration on 22 December 2023</p>
                          <p>Student are requested to attend the function. The programs will update it later.</p>
                          <p class="d-inline"><strong>Note</strong>: No alchol and drugs inside the campus.Strict action will be taken.</a></p>
                      </div>
                  </div>
                </div>

{% endblock %}
</body>
</html>